﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-5">
        <h2>Welcome to the mini Vehicle Manager!</h2>
        <p>
            Currently, you can create cars. However, soon you will be able to create other types of vehicles too!
        </p>
        <select onchange="location = this.value;">
            <option value="">Create a vehicle</option>
            <option value="Home/Submit">Create a car</option>
        </select>
    </div>
</div>
