﻿@model MiniVehicleManager.Models.Car

@{
    ViewData["Title"] = "Create a car";
}

<h2>Create a car</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Submit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="make" class="control-label"></label>
                    <input asp-for="make" class="form-control" />
                    <span asp-validation-for="make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="model" class="control-label"></label>
                    <input asp-for="model" class="form-control" />
                    <span asp-validation-for="model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="engine" class="control-label"></label>
                    <input asp-for="engine" class="form-control" />
                    <span asp-validation-for="engine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numberOfDoors" class="control-label"></label>
                    <input asp-for="numberOfDoors" class="form-control" />
                    <span asp-validation-for="numberOfDoors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numberOfWheels" class="control-label"></label>
                    <input asp-for="numberOfWheels" class="form-control" />
                    <span asp-validation-for="numberOfWheels" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="bodyType" class="control-label"></label>
                    <select required>
                        asp-for="bodyType" class="form-control"
                        <option value="sedan">Sedan</option>
                        <option value="stationWagon">Station Wagon</option>
                        <option value="hatchback">Hatchback</option>
                        <option value="coupe">Coupe</option>
                        <option value="van">Van</option>
                        <option value="convertible">Convertible</option>
                    </select>
                    <span asp-validation-for="bodyType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
